<section>
  <h1>Delivery Tracker by Sepehr Roshanpour</h1>
  <div class="grid-container">
    <agm-map [latitude]="origin.lat" [longitude]="origin.lng" [zoom]="zoom" (mapReady)="onMapReady($event)">
      <agm-direction 
        [origin]="origin" [destination]="destination" 
        [renderOptions]="renderOptions" [markerOptions]="markerOptions" 
        (onChange)="onDirectionChange($event)"
      ></agm-direction>
    </agm-map>
    <div class="form-group">
      <label for="home">Home Address</label>
      <input type="text" id="home" [(ngModel)]="homeAddress"/>
      <label for="home">Store Address</label>
      <input type="text" id="store" [(ngModel)]="storeAddress"/>
      <label for="courier">Courier</label>
      <ng-select [(ngModel)]="selectedCourier" id="courier" [searchable]="false" [clearable]="false" (change)="onCourierChange($event)">
        <ng-option *ngFor="let courier of couriers">{{ courier }}</ng-option>
     </ng-select>
     <div class="step" *ngFor="let step of steps" [ngClass]=" activeStep === step ? 'active-step' : ''">{{ step }}</div>
    </div>
  </div>
</section>