section {
  padding: 3rem;
}
h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 2rem;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  position: relative;
}
.ng-select {
  margin-bottom: 2rem;
}
agm-map {
  height: 500px;
  border-radius: 10px;
}
.controls {
  position: absolute;
  z-index: 999;
  top: 140px;
  left: 60px;
  border-radius: 10px;
}
.form-group {
  display: flex;
  flex-direction: column;
  label {
    color: white;
  }
  input {
    margin-bottom: 2rem;
    padding: .5rem;
    font-size: 14px;
    outline: none;
  }
}
.step {
  background-color: #404040;
  color: white;
  padding: .5rem;
  font-size: 16px;
}
.active-step {
  background-color: #e75480;
}
@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}